name: Update stats.fm Top Albums

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  update-readme:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Update stats.fm top albums
        uses: teraha-dev/statsfm-to-markdown@v1.1.3
        with:
          statsfm_username: 'teraha'
          display_limit: 12
          items_per_row: 6
          theme: light
          time_range: week
          display_mode: svg

      - name: Commit and push changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "statsfm-to-markdown Action"
          # Add README and SVG files
          git add README.md statsfm_svgs/
          # Check if there are changes to commit
          if git diff --staged --quiet; then
            echo "No changes to commit."
            exit 0
          else
            git commit -m "docs: Update stats.fm top albums"
            echo "Pushing changes..."
            git push
          fi
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
